.category_card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-decoration: none; /* Remove underline */
  }
  
  .category_card:hover .card_body {
    transform: scale(1.05);
  }
  
  .card_body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    height: 300px; /* Adjust height as needed */
    transition: transform 0.3s ease-in-out;
    text-decoration: none; /* Remove underline */
  }
  
  .subcategory_label {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    box-shadow: 0 0 8px rgba(235, 186, 190, 0.8); /* Add glow effect */
  }
  
  a {
    text-decoration: none; /* Remove underline */
  }
  
  a:hover .subcategory_label {
    box-shadow: 0 0 12px rgba(235, 186, 190, 1); /* Stronger glow on hover */
  }
  