* {
  font-family: "Century Gothic";
}

.navbar {
  background-color: #b0c4de;
}
.navbar .container-fluid .navbar-nav .nav-item .active {
  color: #4b5d63;
  font-weight: bolder;
}

.nav-link .fa-cart-shopping {
  color: #ebbabe;
}
.nav-link .fa-cart-shopping:hover {
  color: #cf8288;
}

.btn {
  background-color: #a1afb4;
  color: black;
  font-weight: lighter;
}
.btn:hover {
  color: azure;
  background-color: #789099;
}

.contrast {
  background-color: #ebbabe;
  color: #080808;
}
.contrast:hover {
  background-color: #cf8288;
}

footer a {
  text-decoration: none;
  color: white;
}


/*  testing cover gradient */

.cover {
  background: linear-gradient(45deg, #b0c4de, #4b5d63, #ebbabe, #cf8288, #ebbabe, #cf8288);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
  padding: 150px;
  color: white; /* Ensures text is visible on the gradient */
  text-align: center;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.cover h1 img {
  max-width: 150px; /* Adjust the size of the logo if necessary */
  margin-bottom: 20px; /* Space between logo and text */
}

.blockquote-footer {
  color: rgba(255, 255, 255, 0.8); /* Slightly lighter color for the figcaption */
  font-size: 1.2rem;
}

/* gradient till here */
a{
  text-decoration: none !important;
}

input[type="radio"]{
  outline: 2px solid #789099;
}

img.card-img-top{
  object-fit: cover;
  border: 1px solid #3d3d45;
  padding: 2px;
}